<app-navbar></app-navbar>
<div class="mobile-view d-sm-block d-md-none">
    <h4 class="pt-5 text-center">Landmark page only in desktop view for better experience.</h4>
</div>
<div class="backdrop position-relative d-none d-md-block">
    <h1 class=" text-center pt-5">
        Landmarks<span>.</span>
    </h1>
    <div class="container pt-5">
        <div class="row">
            <div class="col-6">
                <model-viewer data-aos="fade-right" data-aos-duration="1000" class="empire-state" src="../../assets/models/empire-state/Skyscraper.gltf" alt="The empire state building of New York" auto-rotate camera-controls disable-zoom></model-viewer>
            </div>
            <div class="col-4" data-aos="fade-left" data-aos-duration="1000">
                <h2>Empire State Building<span>.</span></h2>
                <p>
                    The building's Art Deco architecture, height, and observation decks have made it a popular attraction<span>.</span>
                    Around four million tourists from around the world annually visit the building's 86th and 102nd floor
                    observatories; an additional indoor observatory on the 80th floor opened in 2019<span>.</span> The Empire State Building is
                    an American cultural icon: it has been featured in more than 250 TV shows and movies since the film King Kong was released in 1933<span>.</span><br>
                    The building's size has also become a global standard of reference for the height and length of other structures<span>.</span>
                    A symbol of New York City, the building has been named as one of the Seven Wonders of the Modern World by the American Society of Civil Engineers<span>.</span>
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <iframe data-aos="fade-up" data-aos="fade-up" width="100%" height="480px" src="https://poly.google.com/view/dd_kBQYYcfH/embed?chrome=min" frameborder="0" style="border:none;" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" scrolling="no" ></iframe>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-6">
                <model-viewer data-aos="fade-right" data-aos-duration="1000" class="burj" src="../../assets/models/burj/burj.gltf" alt="The empire state building of New York" auto-rotate camera-controls disable-zoom></model-viewer>
            </div>
            <div class="col-4" data-aos="fade-left" data-aos-duration="1000">
                <h2>The Burj<span>.</span></h2>
                <p>
                    Construction of the Burj Khalifa began in 2004, with the exterior completed five years later in 2009<span>.</span> The primary structure is reinforced concrete<span>.</span>
                    The building was opened in 2010 as part of a new development called Downtown Dubai<span>.</span>
                    The decision to construct the building is based on the government's decision to diversify from an oil-based economy, and for Dubai to gain international recognition<span>.</span>
                    The building broke numerous height records, including its designation as the tallest building in the world<span>.</span>
                    The tower was designed by Skidmore, Owings and Merrill (SOM), which also designed the Willis Tower (formerly the Sears Tower) in Chicago and the One World Trade Center in New York City<span>.</span>
                    The opening was held on 4 January 2010<span>.</span> The ceremony featured a display of 10,000 fireworks, light beams projected on and around the tower, and further sound, light and water effects<span>.</span>
                    The celebratory lighting was designed by UK lighting designers Speirs and Major Associates<span>.</span>
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <iframe data-aos="fade-up" data-aos="fade-up" width="100%" height="480px" src="https://poly.google.com/view/5hHKChiGgbj/embed?chrome=min" frameborder="0" style="border:none;" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-6">
                <model-viewer data-aos="fade-right" data-aos-duration="1000" class="eiffel" src="../../assets/models/eiffel/eiffel.gltf" alt="The empire state building of New York" auto-rotate camera-controls disable-zoom></model-viewer>
            </div>
            <div class="col-4" data-aos="fade-left" data-aos-duration="1000">
                <h2>Eiffel Tower<span>.</span></h2>
                <p>
                    The design of the Eiffel Tower is attributed to Maurice Koechlin and Émile Nouguier, two senior engineers working for the Compagnie des Établissements Eiffel<span>.</span> It was envisioned after discussion about a suitable centrepiece for the proposed 1889 Exposition Universelle, a world's fair to celebrate the centennial of the French Revolution<span>.</span>
                    Eiffel openly acknowledged that inspiration for a tower came from the Latting Observatory built in New York City in 1853<span>.</span>
                    He proposed tower had been a subject of controversy, drawing criticism from those who did not believe it was feasible and those who objected on artistic grounds<span>.</span> Prior to the Eiffel Tower's construction, no structure had ever been constructed to a height of 300 m or even 200 m for the matter, and many people believed it was impossible<span>.</span>
                    These objections were an expression of a long-standing debate in France about the relationship between architecture and engineering<span>.</span>
                    As one of the most iconic landmarks in the world, the Eiffel Tower has been the inspiration for the creation of many replicas and similar towers<span>.</span>
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <iframe data-aos="fade-up" data-aos="fade-up" width="100%" height="480px" src="https://poly.google.com/view/eHatRGB4rd4/embed?chrome=min" frameborder="0" style="border:none;" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-6">
                <model-viewer data-aos="fade-right" data-aos-duration="1000" class="big-ben" src="../../assets/models/big-ben/big-ben.gltf" alt="The empire state building of New York" auto-rotate camera-controls disable-zoom></model-viewer>
            </div>
            <div class="col-4" data-aos="fade-left" data-aos-duration="1000">
                <h2>The Big Ben<span>.</span></h2>
                <p>
                    Big Ben is the nickname for the Great Bell of the striking clock at the north end of the Palace of Westminster; the name is frequently extended to refer to both the clock and the clock tower<span>.</span>
                    The official name of the tower in which Big Ben is located was originally the Clock Tower; it was renamed Elizabeth Tower in 2012 to mark the Diamond Jubilee of Elizabeth II, Queen of the United Kingdom<span>.</span>
                    Elizabeth Tower, originally referred to as the Clock Tower, but more popularly known as Big Ben,[7] was raised as a part of Charles Barry's design for a new Palace of Westminster, 
                    after the old palace was largely destroyed by fire on 16 October 1834<span>.</span>
                    Londoners who live an appropriate distance from the tower and Big Ben can, by means of listening to the chimes both live and on analogue radio, hear the bell strike thirteen times<span>.</span>
                    This is possible because the electronically transmitted chimes arrive virtually instantaneously, while the "live" sound is delayed travelling through the air since the speed of sound is relatively slow<span>.</span>
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <iframe data-aos="fade-up" data-aos="fade-up" width="100%" height="480px" src="https://poly.google.com/view/bF10YRpQ1tD/embed?chrome=min" frameborder="0" style="border:none;" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-6">
                <model-viewer data-aos="fade-right" data-aos-duration="1000" class="boc" src="../../assets/models/boc/boc.gltf" alt="The empire state building of New York" auto-rotate camera-controls disable-zoom></model-viewer>
            </div>
            <div class="col-4" data-aos="fade-left" data-aos-duration="1000">
                <h2>Bank of China Tower<span>.</span></h2>
                <p>
                    The Bank of China Tower (BOC Tower) is a skyscraper located in Central, Hong Kong<span>.</span>
                    Located at 1 Garden Road on Hong Kong Island, the tower houses the headquarters of the Bank of China (Hong Kong) Limited<span>.</span>
                    The 6,700 m2 (72,000 sq ft) site on which the building is constructed was formerly the location of Murray House<span>.</span>
                    After its brick-by-brick relocation to Stanley, the site was sold by the Government for "only HK$1 billion" in August 1982 amidst growing concern over the future of Hong Kong in the run-up to the transfer of sovereignty<span>.</span>
                    Designed by Pritzker Prize-winning architect I. M. Pei, the building is 315.0 m (1,033.5 ft) high with two masts reaching 367.4 m (1,205.4 ft) high<span>.</span> The 72-storey building is located near Central MTR station<span>.</span>
                    This was the tallest building in Hong Kong and Asia from 1990 to 1992, the first building outside the United States to break the 305 m (1,000 ft) mark, and the first composite space frame high-rise building<span>.</span>
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <iframe data-aos="fade-up" data-aos="fade-up" width="100%" height="480px" src="https://poly.google.com/view/aRcHhxt8QZZ/embed?chrome=min" frameborder="0" style="border:none;" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>

