.container{
    position: absolute;
    top: 5650px;
}
  
@media screen and (max-width: 800px) {
    .container{
        top: 13400px;
    }
}

li:hover{
    color: #83BCC5;
    cursor: pointer;
}

.terms{
    color: #83BCC5;
}

img{
    height: 30px;
}

.social-links{
    height: 50px;
    width: 200px;
    background-color: #83BCC5;
    border-radius: 4px 4px 0px 0px;
}

.social-links > img:hover{
    color: black;
    cursor: pointer;
}