<div class="container pl-5 pt-5">
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h5>INFORMATION</h5>
            <ul class="pl-0" style="list-style-type:none;">
                <li>Home</li>
                <li>About Us</li>
                <li>Services</li>
                <li>packages</li>
                <li>Contact Us </li>

            </ul>
        </div>
        <div class="col-sm-3">
            <h5>INFORMATION</h5>
            <ul class="pl-0" style="list-style-type:none;">
                <li>Home</li>
                <li>About Us</li>
                <li>Services</li>
                <li>packages</li>
                <li>Contact Us </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h5>INFORMATION</h5>
            <ul class="pl-0" style="list-style-type:none;">
                <li>Home</li>
                <li>About Us</li>
                <li>Services</li>
                <li>packages</li>
                <li>Contact Us </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h5>CONTACT US</h5>
            <ul class="pl-0" style="list-style-type:none;">
                <li>geomukkath@yandex.com</li>
                <li>(+91) 7900157602</li>
            </ul>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-sm-5 terms text-center">
            Terms & conditions | Privacy Policy
        </div>
        <div class="col-sm-4 mx-auto justify-content-center social-links d-flex pt-2">
            <img class=" pr-md-5 pt-2" src="../../assets/images/facebook.svg">
            <img class="pr-md-5 pt-2" src="../../assets/images/linkedin.svg">
            <img class="pr-md-5 pt-2" src="../../assets/images/twitter.svg">
            <img class=" pt-2" src="../../assets/images/youtube.svg">
        </div>
        <div class="col-sm-3 text-center ">2021. All right reserved.</div>
    </div>
</div>