<app-navbar></app-navbar>
<div class="container-fluid">
    <section class="container">
        <div class="content">
            <h3>City are alive</h3>
            <p>Cities have extensive housing, transportation, <br>land use and utilities making it suitable for commerce.</p>
        </div>
    </section>

    <section class="container">
        <div class="content">
            <h3>Standar of living</h3>
            <p>Urban settlements generally have a higher SOL than rural ones. Vinenna tops the list followed by Zurich.</p>
        </div>
    </section>
    
    <section class="container">
        <div class="content">
            <h3>A thriving professional life</h3>
            <p>All indexes point that cities are better in terms of opportunity and network building.</p>
        </div>
    </section>

    <section class="container">
        <div class="content">
            <h3>Migration</h3>
            <p>The number of international migrants has grown by 49% since 2000, going from 2.7% to 3.4% of the world's population.</p>
        </div>
    </section>
    
    <div id="set-height">

    </div>

    <video #videoPlayer tabindex="0" autobuffer preload>
          <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'
                  src="../../assets/videos/hk-video-trim.mp4">
    </video>
</div>

