<div class="container pt-5">
    <div class="row">
        <div class="column">
            <img src="../../../assets/images/stack1.jpg">
            <img src="../../../assets/images/stack2.jpg">
            <img src="../../../assets/images/stack3.jpg">
            <img src="../../../assets/images/stack4.jpg">
            <img src="../../../assets/images/stack5.jpg">
            <img src="../../../assets/images/stack6.jpg">

        </div>
        <div class="column">
            <img src="../../../assets/images/stack7.jpg">
            <img src="../../../assets/images/stack8.jpg">
            <img src="../../../assets/images/stack9.jpg">
            <img src="../../../assets/images/stack10.jpg">
            <img src="../../../assets/images/stack11.jpg">
            <img src="../../../assets/images/stack12.jpg">

        </div>
        <div class="column">
            <img src="../../../assets/images/stack13.jpg">
            <img src="../../../assets/images/stack14.jpg">
            <img src="../../../assets/images/stack15.jpg">
            <img src="../../../assets/images/stack16.jpg">
            <img src="../../../assets/images/stack17.jpg">
            <img src="../../../assets/images/stack18.jpg">
        </div>
        <div class="column">
            <img src="../../../assets/images/stack19.jpg">
            <img src="../../../assets/images/stack20.jpg">
            <img src="../../../assets/images/stack21.jpg">
            <img src="../../../assets/images/stack22.jpg">
            <img src="../../../assets/images/stack23.jpg">
            <img src="../../../assets/images/stack24.jpg">

        </div>
    </div>
</div>