<div class="container">
    <div class="row">
        <div data-aos="fade-right" data-aos-duration="3000" class="col-12 col-sm-12 col-md-6 pb-5">
            <img id="pipe" class="float-right" src="../../../assets/images/pipe.png">
        </div>
        <div class="col-12 col-sm-12 col-md-6 pt-5 mt-5">
            <h1 data-aos="fade-up">Skyscrapers <br>don't</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 pt-5 mt-5">
            <h1 data-aos="fade-down-right">make <br>cities</h1>
        </div>
        <div data-aos="fade-left" data-aos-duration="5000" class="col-12 col-sm-12 col-md-6 pt-5 mb-5 pb-5">
            <img id="buildings" src="../../../assets/images/buildings.png">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 pt-5 mt-5">
            
        </div>
        <div data-aos="fade-left" data-aos-duration="5000" class="col-12 col-sm-12 col-md-6 pt-5 mb-5 pb-5">
            <h1 data-aos="fade-down-left" class="float-left">People <br>do!</h1>
        </div>
    </div>
</div>