@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.container{
    position: absolute;
    top: 2000px;
}

#pipe{
    height: 600px;
    width: 100%;
    transform: rotate(90deg);
}

h1{
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 25px;
        
    }
    #pipe{
        height: 300px;
    }
}

#buildings{
    height: 700px;
    width: 100%;
    border-radius: 60%;
}

.intro{
    background-color: black;
}

.woman, .man1, .man2, .man3, .woman2{
    height: 250px;
}

.man1, .man3, .woman2{
    transform: scaleX(-1);
}