<div class="container">
    <div class="row d-flex justify-content-center">
        <div data-aos-duration="3000" class="col-12 col-sm-12 col-md-6 pb-5 d-none d-md-block">
            <img id="pipe" class="float-right" src="../../../assets/images/pipe.png">
        </div>
        <div class="col-6 col-sm-6 col-md-6 pt-5 mt-5 intro">
            <h1 data-aos="fade-down-left">Skyscrapers <br>don't make <br> cities. <br> People do.</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div data-aos-duration="3000" class="col-12 col-sm-12 col-md-6 pb-5 d-none d-md-block intro">
            <h1 data-aos="fade-down-right">People create<br> the vibe<br> of the city.</h1>
        </div>
        <div class="col-6 col-sm-6 col-md-6 pt-5 mt-5">
            <div data-aos="zoom-out">
                <img class="woman" src="../../../assets/images/standing-woman.png">
                <img class="man1" src="../../../assets/images/standing-man-hippie.png">
                <img class="man2" src="../../../assets/images/standing-man-hat.png">
                <img class="man3" src="../../../assets/images/man-polka.png">
                <img class="woman2" src="../../../assets/images/standing-woman2.png">
            </div>
            
        </div>
    </div>
</div>